# Quitar html de url
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# cache margen para 1 segundo
<IfModule mod_alias.c>
<FilesMatch "\.(html?|json|rss|txt|xhtml|xml)$">
Header set Cache-Control "max-age=1, public, no-transform, must-revalidate"
</FilesMatch>

# cache  1 Semana = 604800 seconds
<FilesMatch "\.(js|css)$">
Header set Cache-Control "max-age=604800, public, no-transform, must-revalidate"
</FilesMatch>

# cache 1 año = 31536000 seconds
<FilesMatch "\.(webp|jpg|jpeg|png|gif|ico|ttf|otf|woff)$">
Header set Cache-Control "max-age=31536000, public, no-transform, must-revalidate"
</FilesMatch>

# Deflate
<IfModule mod_deflate.c>
    <filesMatch "\.(webp|js|css|php|html|jpg|javascript|jpeg|gif|png|txt|ico)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>

ErrorDocument 404 /404.html
ErrorDocument 403 /403.html
ErrorDocument 400 /400.html
ErrorDocument 500 /500.html

#cargar index en carpetas
RewriteEngine on
RewriteRule ^(.*).php$ $1.html%{QUERY_STRING} [L]